    <header>
      <div class="container">
        <div class="header-group">
          <div class="brand-name">
            Daily Journal
          </div>
          <nav>
            <ul class="nav-menu">
              <li><a href="/"> Home </a></li>
              <li><a href="/about"> About Us </a></li>
              <li><a href="/contact"> Contact Us </a></li>
            </ul>
          </nav>
          <div class="burger">
            <div class="line-one"></div>
            <div class="line-two"></div>
            <div class="line-three"></div>
          </div>
        </div>
      </div>
    </header>
